/* 
--bs-primary:#0d6efd;--bs-warning:#ffc107;
--bs-black:#000;--bs-white:#fff; 
--bs-danger:#dc3545;--invert-danger:#23caba;
--bs-dark:#212529;--bs-gray:#6c757d;
--bs-yellow:#ffc107;
--bs-green:#198754;
*/

body {background-color: #000; color:#fff}